$correct-color: #48c53f;
$incorrect-color: #363636;
$imprecise-color: #ecf455;

$present-color: #f3c74d;
$default-background: #787c7e;
$border-color: #d3d6da;
$text-color: white;
$text-color-dark: #363636;

.wordle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid {
    display: grid;
    gap: 5px;
    margin-bottom: 30px;

    .row {
      display: flex;
      gap: 5px;
      justify-content: center;

      .cell {
        width: 60px;
        height: 60px;
        border: 2px solid $border-color;
        background-color: $default-background;
        border-color: $border-color;
        color: $text-color;
        display: flex;
        justify-content: center;
        align-items: center;

        &.correct {
          // Applying styles for "correct"
          background-color: $correct-color;
          color: $text-color-dark;
        }

        &.incorrect {
          // Applying styles for "incorrect"
          background-color: $incorrect-color;
          color: $text-color;
        }
      }
    }
  }

  .input-box {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .inputs-container {
    display: inline;
  }
}